**/.git
**/.gitignore
**/.vscode

frontend/node_modules
frontend/dist

node_modules

writable/cache/**
writable/debugbar/**
writable/logs/**
writable/session/**
writable/uploads/**

tests/**

build/**
builds/**

docker/db-data
